%strong Name:
= @sender.name
%strong Company Name:
= @sender :company_name
%strong Email
= @sender :email
%strong Phone
= @sender :phone
%strong Address
= @sender :address
%strong Phone Lines
= @sender :phone_lines
%strong Current Internet
= @sender :current_internet
%strong Current Carrier
= @sender :current_carrier
%strong Message
= @sender :message