<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @quote.name %>
</p>

<p>
  <b>Company name:</b>
  <%= @quote.company_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @quote.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @quote.email %>
</p>

<p>
  <b>Address:</b>
  <%= @quote.address %>
</p>

<p>
  <b>Phone lines:</b>
  <%= @quote.phone_lines %>
</p>

<p>
  <b>Current internet:</b>
  <%= @quote.current_internet %>
</p>

<p>
  <b>Current carrier:</b>
  <%= @quote.current_carrier %>
</p>

<p>
  <b>Message:</b>
  <%= @quote.message %>
</p>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
