.inside
  #client-logos
    .client
      .image
        = image_tag('icons/cbeyond.jpg')
      %p Cbeyond, Inc. (Cbeyond) provides managed communications and information technology (IT), services to its target market of small businesses in select large metropolitan areas across the United States. The Company’s services include local and long distance voice services, broadband Internet access, mobile voice and data, e-mail, voicemail, Web hosting, secure backup and file sharing, fax-to-e-mail, virtual private network, desktop security, hosted Microsoft Exchange, mobile workforce management, virtual receptionist, and other communications and IT services.
    .client
      .image
        = image_tag('icons/integra.jpg')
      %p Integra Telecom, Inc. ("Integra")* is a facilities-based, integrated communications carrier, offering products that fit the smallest businesses to fortune 500 hundred companies. Integra’s product offering includes local dial tone, domestic and international long distance, high-speed Internet and data services, voice messaging, and numerous ancillary services designed to support the communication needs of any business. Integra currently offers service in the western 11 states
    .client
      .image
        = image_tag('icons/XO.jpg')
      %p XO Communications brings leading national and local telecommunications services to businesses. Using their unique nationwide IP network, their extensive local metro networks and broadband wireless facilities, XO offers a variety of communications solutions, including local and long-distance voice; dedicated Internet access; industry leading VoIP bundles; Ethernet; and, MPLS IP-VPN services in 75 metropolitan markets across the U.S.
    .client
      .image
        = image_tag('icons/comcast.jpg')
      %p Comcast is a company that was founded in 1963 and now has situated themselves as the country's largest provider of cable services. They focus on bringing superior cable television, high speed internet and residential telephone service to customers throughout the United States.
    .client
      .image
        = image_tag('icons/qwest.jpg')
      %p Qwest Communications International Inc. (Qwest), is a provider of data, Internet, video and voice services. The Company operates its business in the 14-state region of Arizona, Colorado, Idaho, Iowa, Minnesota, Montana, Nebraska, New Mexico, North Dakota, Oregon, South Dakota, Utah, Washington and Wyoming. The Company’s products and services are provided using its telecommunications network, which consists of voice and data switches, copper cables, fiber optic broadband cables and other equipment. The majority of the Company’s network is located in its local service area. Within its local service area, Qwest’s network serves approximately 10.3 million access lines in 14 states and forms a portion of the public switched telephone network (PSTN).
    .client
      .image
        = image_tag('icons/firstcomm.png')
      %p First Communications is a leading integrated telecommunications carrier in the Midwestern United States. Founded in 1998, First Communications has built a highly scalable telecommunications platform, infrastructure and support system, which represents a combination of world-class technology, and cutting-edge product offerings. First Communications has over 214,000 customers and owns and operates network comprised of 4,500 route miles of fiber which offers industry leading low latency metro and long haul routes unique to most other carriers. First Communications is led by a strong management team that has operated telecom companies throughout all cycles of the telecommunications market.
    .client
      .image
        = image_tag('icons/accessone.png')
      %p As a privately held company, our mission is to offer our clients the finest, most reliable business communication services and support in the industry. Since 1993 we have continually strived to fulfill this mission and are proud to be one of the only service providers with an A+ rating from the Better Business Bureau®, Serving Chicago & Northern Illinois.
    .client
      .image
        = image_tag('icons/paetec.png')
      %p Today, PAETEC delivers personalized communications solutions and unmatched service to business-class customers in 86 of the nation's top 100 metropolitan areas. We are the premier alternative to the ILECs, based on our nationwide footprint, breadth of products, and quality of service. PAETEC's data and voice products - and our unique value-added offerings - help customers achieve cost-effective solutions.
    .client
      .image
        = image_tag('icons/ptgi.bmp')
      %p Like other industry leaders, Primus delivers high-quality solutions for more than 2.4 million consumers, including small & medium enterprises and multinational businesses. Unlike the rest, Primus takes advantage of global telecommunications deregulation. This allows Primus to bring you facilities-based networks and facilities-based datacenters for a sophisticated line of services to manage your complete E-Business and data communication needs. Primus has ownership interests in over 23 transoceanic fiber-optic cable systems in Europe, North and South America, and the Asia-Pacific region.
    .client
      .image
        = image_tag('icons/level3.png')
      %p Level 3 was founded on the premise that cost-effective, scalable and reliable networks were the future for the telecommunications business. Once called “the best funded start-up in history,” we continually invested in infrastructure to become a world-class communications provider and have won the trust of the world's most sophisticated communications companies. It’s been an interesting history and is an ongoing story, one that we think you’ll want to know about in greater detail.