= image_tag('main.jpg')
#keymenu
  .container
    = image_tag('keymenu/customer.jpg')
    .content
      = link_to "Customer Wall", "#"
      %p Get a hassle-free quote within 2 business days.
  .container
    = image_tag('keymenu/energy.jpg')
    .content
      = link_to "Energy Services", energy_path
      %p Get a hassle-free quote within 2 business days.
  .container
    = image_tag('keymenu/phone.jpg')
    .content
      = link_to "Phone Hardware", phone_path
      %p Get a hassle-free quote within 2 business days.
  .container
    = image_tag('keymenu/broker.jpg')
    .content
      = link_to "Why use a Broker", broker_path
      %p Get a hassle-free quote within 2 business days.
#keycontent
  .about
    %h2 Truthcomm
    %p Innovative Business Solutions designs, deploys and manages communication networks for businesses with a variety of communication needs. We specialize in high speed internet, T1 services, VOIP, Ethernet, fiber optics as well as local and long distance telephone services. Our goal is to connect you with communication tools that will help you optimize your goals.  
  .quote
    %h3 What Our Customers Are Saying
    %p quote here
    