= image_tag('main.jpg')
#keymenu
  .container
    = image_tag('keymenu/customer.jpg')
    .content
      = link_to "Customer Wall", "#"
      %p Get a hassle-free quote within 2 business days.
  .container
    = image_tag('keymenu/energy.jpg')
    .content
      = link_to "Energy Services", energy_path
      %p Get a hassle-free quote within 2 business days.
  .container
    = image_tag('keymenu/phone.jpg')
    .content
      = link_to "Phone Hardware", phone_path
      %p Get a hassle-free quote within 2 business days.
  .container
    = image_tag('keymenu/broker.jpg')
    .content
      = link_to "Why use a Broker", broker_path
      %p Get a hassle-free quote within 2 business days.
#keycontent
  .about
    %h2 Truthcomm
    %p It is the business of a telecom broker to help you explore what is available to meet your telecommunication and internet needs.  We want to assist you in looking at the offerings of a variety of carriers, so you can make a service and pricing decision that best fits the needs of your company.  
  .quote
    %h2 What Our Customers Are Saying
    %p Quote here
    %span Name here
    