.inside
  #client-logos
    .client
      .image
        = image_tag('icons/avaya.png')
      %p Avaya is a global leader in enterprise communications systems. The company provides Unified Communications, Contact Centers, Data solutions and related services directly and through its Channel partners to leading businesses and organizations around the world. Enterprises of all sizes depend on Avaya for state-of-the-art communications that improve efficiency, collaboration, customer service and competitiveness.
    .client
      .image
        = image_tag('icons/cisco.png')
      %p Cisco Systems, Inc. (NASDAQ: CSCO, NYSE: CSCO, SEHK: 4333) is an American-based multinational corporation that designs and sells consumer electronics, networking, voice, and communications technology and services. Headquartered in San Jose, California, Cisco has more than 70,714 employees and annual revenue of US$ 40.0 billion as of 2010. The stock was added to the Dow Jones Industrial Average on June 8, 2009, and is also included in the S&P 500 Index, the Russell 1000 Index, NASDAQ 100 Index and the Russell 1000 Growth Stock Index.[4] Cisco is one of the world's biggest technology corporations
    .client
      .image
        = image_tag('icons/asterisk.png')
      %p Asterisk is software that turns an ordinary computer into a communications server. Asterisk powers IP PBX systems, VoIP gateways, conference servers and more. It is used by small businesses, large businesses, call centers, carriers and governments worldwide. Asterisk is free and open source. Asterisk is sponsored by Digium
    .client
      .image
        = image_tag('icons/shoretel.png')
      %p ShoreTel's Unified Communications system encompasses phones, switches, & software designed for easy deployment and rapid flexibility by integrating voice, video, IM, & voicemail in one easy to use system with no single point of failure.
    .client
      .image
        = image_tag('icons/panasonic.png')
      %p Based in Secaucus, NJ, Panasonic System Networks Company of America is a unit of Panasonic Corporation of North America, the principal North American subsidiary of Panasonic Corporation (NYSE: PC). A comprehensive business-to-business solutions provider, the company develops and delivers reliable, affordable, and flexible solutions for communication, collaboration, security and productivity. The complete suite of solutions addresses home and business communications, security and surveillance systems, retail information systems, office productivity solutions, and high definition visual conferencing, keeping Panasonic customers connected, informed, accessible and secure.